hydra:
  run:
    dir: /mnt/afs/250010074/qwen/output/${training.run_name}_${now:%Y-%m-%d_%H-%M-%S}
  job:
    chdir: true

model:
  model_name_or_path: "/mnt/afs/250010074/qwen/Qwen3-4B-Base"
  use_peft: true
  lora_r: 16
  lora_alpha: 32
  lora_dropout: 0.05
  target_modules: ["q_proj", "k_proj", "v_proj", "o_proj", "gate_proj", "up_proj", "down_proj"]

data:
  train_file: "/mnt/afs/250010074/qwen/benchmark_cache/datasets/winogrande/winogrande_xl/0.0.0/01e74176c63542e6b0bcb004dcdea22d94fb67b5/winogrande-train.arrow"
  max_seq_length: 1024
  dataset_text_field: "text"

training:
  per_device_train_batch_size: 128
  gradient_accumulation_steps: 4
  learning_rate: 2e-4
  logging_steps: 10
  save_strategy: "epoch"
  save_total_limit: 3
  num_train_epochs: 3
  report_to: "wandb"
  run_name: "sft_winogrande"
  bf16: true
  fp16: false

wandb:
  project: "qwen-finetune"
  entity: null
